reverse_ssh/rdp_toS.I.S/HomelabRDP/__pycache__/
reverse_ssh/rdp_toS.I.S/HomelabRDP/__pycache__/network_ops.cpython-313.pyc
reverse_ssh/rdp_toS.I.S/HomelabRDP/__pycache__/rdp_manager.cpython-312.pyc
reverse_ssh/rdp_toS.I.S/HomelabRDP/__pycache__/rdp_manager.cpython-313.pyc
