[Unit]
Description=FRP Server Service
After=network.target network-online.target syslog.target

[Service]
Type=simple
# Khởi động lại nếu bị lỗi
Restart=on-failure
RestartSec=5s
ExecStart=/usr/local/bin/frps -c /etc/frp/frps.toml

[Install]
WantedBy=multi-user.target